@font-face {
  font-family: "Dmitry";
  src: url("../fonts/Dmitry.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@keyframes slide {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 110%;
  }
  100% {
    background-size: 100%;
  }
}
@-webkit-keyframes slide {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 110%;
  }
  100% {
    background-size: 100%;
  }
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.form-group {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  text-decoration: none;
  outline: none;
}
a:focus {
  text-decoration: none;
  outline: none;
}

.btn {
  border: 0;
  box-shadow: none;
  text-decoration: none;
  outline: none;
  background-color: #A3B8D7;
  width: 170px;
  padding-block: 15px;
  border-radius: 42px;
  transition: all 0.3s ease;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
.btn:hover {
  box-shadow: none;
  text-decoration: none;
  outline: none;
  border: 0;
  border-radius: 40px;
  background-color: #ffffff;
  color: #222021;
}
.btn:focus {
  box-shadow: none;
  text-decoration: none;
  outline: none;
  border: 0;
  border-radius: 0;
  background-color: #1E0C06;
}
.btn:active {
  box-shadow: none;
  text-decoration: none;
  outline: none;
  border: 0;
  border-radius: 0;
  background-color: #1E0C06;
}
.btn:active:focus {
  box-shadow: none;
}
.btn:visited {
  box-shadow: none;
  text-decoration: none;
  outline: none;
  border: 0;
  border-radius: 0;
  background-color: #1E0C06;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.list-inline {
  margin: 0;
  padding: 0;
}
.list-inline::after {
  display: block;
  content: "";
  clear: both;
}
.list-inline li {
  float: left;
}
.list-inline li a {
  display: inline-block;
}

.form-control {
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  text-decoration: none;
  outline: none;
}
.form-control:hover {
  border-radius: 0;
  box-shadow: none;
  text-decoration: none;
  outline: none;
}
.form-control:focus {
  border-radius: 0;
  box-shadow: none;
  text-decoration: none;
  outline: none;
}
.form-control:active {
  border-radius: 0;
  box-shadow: none;
  text-decoration: none;
  outline: none;
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {
  .container {
    max-width: 1330px;
  }
}
/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
  .container {
    max-width: 1330px;
  }
}
/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
  .container {
    max-width: 1330px;
  }
}
/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
  .container {
    max-width: 1330px;
  }
}
@media (min-width: 1280px) and (max-width: 1399px) {
  .container {
    max-width: 1170px;
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 100%;
  }
}
/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 100%;
  }
}
/* Landscape phones and portrait tablets */
@media (min-width: 544px) and (max-width: 767px) {
  .container {
    min-width: 100%;
  }
}
/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 543px) {
  .container {
    max-width: 100%;
  }
}
/* Smaller phones */
@media (max-width: 360px) {
  .container {
    max-width: 100%;
  }
}
/* Smaller phones */
body {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: inherit;
  background-color: #ffffff;
}

.btn-primary {
  background-color: #1E0C06;
  color: #000000;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 5px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #000000;
  border-radius: 5px;
}

.form-group .form-control {
  border: 1px solid #A3B8D7;
  border-radius: 27px;
  width: 100%;
  padding: 15px 25px;
  overflow: hidden;
  font-size: 16px;
  background-color: transparent;
  color: #F5F5F5;
}
.form-group .form-control:focus {
  outline: #F5F5F5;
}
.form-group .form-control::placeholder {
  color: #F5F5F5;
}

textarea {
  resize: none;
}
textarea.form-control {
  min-height: 170px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.no_event {
  pointer-events: none;
}

.scroll_off {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

#pb_scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  background-color: none;
}

#pb_scroll::-webkit-scrollbar {
  width: 3px;
  background-color: none;
}

#pb_scroll::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 1px solid #000000;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Extra Huge large desktops */
/* Extra Huge large desktops */
/* Extra Huge large desktops */
/* Extra large desktops and mac laptops*/
/* Landscape tablets and medium desktops */
/* Landscape tablets and ipad */
/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
  .form-group .form-control {
    padding: 14px 22px;
    font-size: 16px;
  }
  textarea.form-control {
    min-height: 160px;
  }
}
/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
  .form-group .form-control {
    padding: 13px 18px;
    font-size: 15px;
  }
  textarea.form-control {
    min-height: 150px;
  }
}
/* Smaller phones */
@media (max-width: 360px) {
  .form-group .form-control {
    padding: 13px 18px;
    font-size: 15px;
  }
  textarea.form-control {
    min-height: 150px;
  }
}
/* Smaller phones */
/* Extra Huge large desktops */
/* Extra Huge large desktops */
/* Extra large desktops and mac laptops*/
/* 1300 desktop only */
/* 1200 desktop only */
/* Landscape tablets and medium desktops */
/* Landscape tablets and ipad */
/* Landscape phones and portrait tablets */
/* Landscape phones and portrait tablets */
/* Smaller phones */
/* Smaller phones */
/* Extra Huge large desktops */
/* Extra Huge large desktops */
/* Extra large desktops and mac laptops*/
/* 1300 desktop only */
/* 1200 desktop only */
/* Landscape tablets and medium desktops */
/* Landscape tablets and ipad */
/* Landscape phones and portrait tablets */
/* Landscape phones and portrait tablets */
/* Smaller phones */
/* Smaller phones */

/*# sourceMappingURL=custom.css.map */
