$black: #000000;
$white: #ffffff;
$primary_color: #1E0C06;
$secondary_color: #F5F5F5;
$sky_color: #A3B8D7;
$dark:#222021;
$yellow:#FFDBBB;

// Social Icons Color
$facebook: #1871e7;
$twitter: #1c99e7;
$linkedin: #0077b5;
$google-plus: #db4437;
$youtube: #fa362c;
$skype: #02b4eb;
$pinterest: #dd0017;
$instagram: #e1376f;
$rss: #e98735;


@font-face {
    font-family: 'Dmitry';
    src: url('../fonts/Dmitry.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

//fonts
$kyiv: 'Dmitry';
